.select_container {
  @media (max-width: 390px) {
    width: 358px;
  }
  .css-b62m3t-container {
    .css-1atdudy-Control {
      justify-content: space-between;
    }
  }
  div {
    span {
      display: none;
    }
  }
}
