@font-face {
  font-family: Helvetica Neue;
  src: url("./assets/fonts/HelveticaNeue.ttc");
}

:root {
  --btn-col: #62a1eb;
  --vector-bgcol: #d9d9d9;
  --black: #000000;
  --black-bold: #232323;
  --input-border: #8ac0e2;
  --light-gray: #2e2e2e;
  --input-bg: #ebebeb;
  --bg-col: #f7f7f7;
  --white: #ffffff;
  --indicator: #484848;
  --ligh-blue: #e7f0f8;
  --dark-blue: #4386a9;
  --list-bg: #aed1ea;
  --light-black: #797979;
  --popUp-bg: #4a4a4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
